<section class="hero">
  <%= form_with model: @user, url: user_registration_path, local: true do |f|%>
    <form class="login-form">
      <p class="login-text">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-lock fa-stack-1x"></i>
        </span>
      </p>
        <input> <%= f.text_field :n_name, autofocus: true, class: "login-username", placeholder: "ニックネーム" %>
        <input> <%= f.email_field :email, class: "login-username", placeholder: "メールアドレス" %>
        <input> <%= f.password_field :password, autocomplete: "off", class: "login-username", placeholder: "パスワード(半角英数字6文字以上)" %>
        <input> <%= f.password_field :password_confirmation, autocomplete: "off", class: "login-username", placeholder: "パスワード(確認用)" %>
        <input> <%= f.number_field :height, autofocus: true, class: "login-username", placeholder: "身長" %>
        <input> <%= f.number_field :weight, autofocus: true, class: "login-username", placeholder: "体重" %>
    </form>
    <div>
      <%= f.collection_select(:age_id, Age.all, :id, :name, {}, {class:"login-username", id:"user-age"}) %>
    </div>
      <input type="submit" name="Login" value="Login" class="login-submit" />
    <div class="underlay-photo"></div>
    <div class="underlay-black"></div>
  <% end %>
</section>
