<div class="items-sell-contents">
  <header class="items-sell-header">
    <%= link_to image_tag('logo_transparent.png' , size: '185x50'), root_path %>

  </header>
  <div class="items-sell-main">
    <h2 class="items-sell-title">食材の情報を入力</h2>
    <%= form_with(model: @total, local: true) do |f| %>

    <%= render 'devise/shared/error_messages', model: f.object %>

      <%# 食品一覧 %>
      <div class="new-items">
        <div class="weight-bold-text">
          食品選択
        </div>
          <%= render 'totals/checkboxes' %>
        <%= f.collection_select(:major_id, Major.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
      </div>
      <%# /食品一覧 %>

      <%# 合計値 %>
      <div class="items-detail">
        <div class="weight-bold-text">各合計値</div>
        <div class="form">
          <div class="weight-bold-text">
            カテゴリー
            <span class="indispensable">必須</span>
          </div>
          <%#<%= f.collection_select(:_id, .all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
        </div>
        </div>
      </div>
    <% end %>
  </div>
  <footer class="items-sell-footer">
    <ul class="menu">
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">フリマ利用規約</a></li>
      <li><a href="#">特定商取引に関する表記</a></li>
    </ul>
    <%= link_to image_tag('logo_transparent.png' , size: '185x50'), root_path %>
  </footer>
</div>